html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e2f3e;
  color: #ededed;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  line-height: 28px;
  letter-spacing: 3px;
}

article {
  width: 95%;
  margin: 1rem auto;
  text-align: justify;
}

canvas {
  display: flex;
  margin: 2rem auto 4rem auto;
  padding: 1rem 0;
  border-radius: 5%;
  box-shadow: 0 0 20px #222;
}

h3, a {
  color: #ff7400;
}

header {
  font-size: 1.5em;
  width: 100%;
}

header p {
  width: fit-content;
  text-align: center;
  margin: 0.5rem auto;
}

main {
  background-color: #343446;
}

footer {
  height: 18vh;
  padding: 1rem;
  width: 100%;
}

footer p {
  color: #ff9900;
  margin: 5px;
  text-align: center;
  font-size: 13px;
}

footer p i {
  font-size: 11px;
  color: #925d0e;
}

.container,
.container-fluid {
  display: flex;
  margin: auto;
  padding: 2rem 0;
  overflow-x: scroll;
  width: 90%;
}

.container::-webkit-scrollbar {
  display: none;
  width: 0.5rem;
}

.container-fluid {
  overflow: hidden;
  width: 100%;
}

.screenshots {
  display: flex;
  width: fit-content;
  margin: 1rem auto;
  overflow-x: scroll;
}

.screenshots::-webkit-scrollbar {
  display: none;
  width: 0.5rem;
}

.screenshots img{
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-right: 2rem;
}
